.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-left: 2.5%;
}

.logout-part {
  width: 37.5px;
  display: flex;
  justify-content: space-between;
}

.user-photo {
  width: 25px;
  height: 25px;
  border: 1px solid white;
  border-radius: 50%;
}

.logo-img {
  margin-left: 0;
}

.sep {
  width: 33%;
  margin: 0;
  height: 4px;
}

.functionnalities {
  text-align: center;
  margin-top: 2.5%;
}