.login-wrapper {
  background: linear-gradient(rgb(248, 249, 250), rgb(233, 236, 239));
}

.login-window {
  width: 30%;
  margin-left: 35%;
  background-color: white;
}

.logo {
  width: 20%;
  margin: 6% 0 5% 40%;
}

.input-title {
  margin-left: 5%;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 1.25%;
}

#username {
  width: 90%;
  margin-left: 5%;
  outline: unset;
  border: 1px solid rgb(206, 212, 218);
  padding: 1.25% 0;
  border-radius: 4px;
  margin-bottom: 3.75%;
  height: 36px;
}

#username::placeholder {
  color: rgb(206, 212, 218);
  padding-left: 5%;
}

.password-wrapper {
  display: flex;
  width: 90%;
  margin-left: 5%;
}

#password {
  width: 90%;
  outline: unset;
  border: 1px solid rgb(206, 212, 218);
  border-right: none;
  padding: 1.25% 0;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 3.75%;
  height: 36px;
}

#password::placeholder {
  color: rgb(206, 212, 218);
  padding-left: 5.6%;
}

.eye-wrapper {
  background-color: rgb(90, 60, 82);
  width: 10%;
  height: 36px;
  cursor: pointer;
}

#username:focus {
  border-color: rgb(58, 242, 249);
}

#password:focus {
  border-color: rgb(58, 242, 249);
}

.submit-btn {
  background-color: rgb(117, 191, 195);
  width: 90%;
  margin-left: 5%;
  color: white;
  text-transform: uppercase;
  border: 1px solid rgb(117, 191, 195);
  padding: 1.25% 0;
  border-radius: 4px;
  margin-top: 10%;
}

.submit-btn:hover {
  background-color: rgb(15, 90, 94);
}
